<%- include('partials/header') %>
    <div class="container py-md-5 container--narrow">
        <div class="text-center">
        <h2>Hello <strong><%= user.username %></strong>, your feed is empty.</h2>
        <a href="/filters" class="btn btn-primary btn-sm">Check all Vinyls</a>
        </div>

    </div>
<%- include('partials/footer') %>
     
